{% extends 'flatpages/default.html' %}

{% load custom_filters %}


<!-- Название вкладки (строки в браузере)-->
{% block title %}
-=NewsPortal CityTomsk=-
{% endblock title %}


{% block content %}

<br>
<!-- Перед таблицей добавим форму для поиска -->
<form method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<br>
<h1>Все новости и посты</h1>
<!-- {{ value1 | Censor:"" }} -->
<br>
<h6>Всего новостей
{{ posts | length }}</h6>
<!-- Выводим новости только, если они есть с помощью тега if -->
{% if posts %}
<!-- поменяем posts на filter.qs, т. к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
{% for post in filter.qs %}
<br>
новость №
{{ post.pk }}
<br>
<br>
автор: {{ post.author }}
<br>
<br>
категория: {{ post.category }}
<br>
<br>
<h3>{{ post }}</h3>
<br>
{{ post.dateCreation }}
<br>
<br>

{{ post.text | Censor:"" | truncatechars:150 }}
<br>
<hr>
{% endfor %}

<!-- Если новостей нет, то говорим, что новостей нет -->
{% else %}
<h3>Новостей нет!</h3>
{% endif %}

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

<br>
<hr>
{% endif %}
{% endblock content %}
