<!--Данный шаблон расширяет базовый шаблон (main из папки templates) и добавляет заголовок второго уровня (немного поменьше) с
названием страницы и переменной, полученной из контекста.-->

{% extends "main.html" %}

{% block content %}

<!--{{request.user.username}} вызов имени авторизованного пользователя-->
<h2>Страница пользователя {{request.user.username}}</h2>
(шаблон templates\index.html)
<hr>

<div>Здесь может содержаться персональная информация пользователя:</div>
<p>- какой статус пользователя: просто, либо автор</p>
<p>- сколько статей написал, ссылки на статьи</p>
<p>- рейтинг пользователя </p>
<p>- комментарии пользователя </p>


<!--кнопка выхода из учетной записи пользователя-->
<button><a href="sign/logout/">Выйти</a></button>

<!--кнопка «Хочу Premium!» - кнопка перехода в другую группу, если переменная, которую мы определили ранее — True-->
{% if is_not_premium %}
<button><a href="sign/become_author/">Хочу стать автором!</a></button>
{% endif %}

{% endblock %}

